NODE_ENV=development
LOG_LEVEL=info
ROOT_URL=https://api.halalcenterhrd.com
APP_NAME=halal-hrd-service

DB_USERNAME=root
DB_PASSWORD=sangatrahasia
DB_NAME=halal_center
DB_HOST=localhost
DB_PORT=5432

PORT=8000
PORT_HTTPS=8080
USE_HTTPS=false

REDIS_URL=redis://localhost:6379

COOKIE_SECRET=123123123
COOKIE_NAME=cookiename
ACCESS_TOKEN_EXPIRY=3000
REFRESH_TOKEN_EXPIRY=30000

DRIVE_FOLDER_ID=xxxxx
MAX_IMAGE_SIZE_IN_BYTES=1048576 # 1MB with binary format